<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static',filename='/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='/css/bootstrap.min.css') }}">
<script src="{{ url_for('static',filename='/css/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='/css/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='/css/bootstrap.min.js') }}"></script>


<title>wolfpack</title>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">wolfpack</a>
            <form class="form-inline">
                <a class="navbar-brand" href="/explore/">Explore</a>
                <a class="navbar-brand" href="/u/{{logname}}/">{{logname}}</a>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row" style="margin-top:2em;">
            <img style="max-width:30px;" src="{{ url_for('static',filename='/profile_img/'+user.filename)}}" alt="pfp">
            <p>{{logname}}</p>
        </div>
        <div class="row" style="margin-top:2em;">
            
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/accounts/edit/" method="post" enctype="multipart/form-data">
            <p><br>Photo <input type="file" name="file"></p>
            <p>Name <input type="text" name="fullname" value="{{user.fullname}}"/></p>
            <p>Email <input type="text" name="email" value="{{user.email}}"/></p>
            <input type="submit" name="update" value="submit"/>
            </form>
        </div>
        <div class="row" style="margin-top:2em;">
            <a href="/accounts/password/">Change password</a>
        </div>
        <div class="row" style="margin-top:1em;">
            <a href="/accounts/delete/">Delete account</a>
        </div>
    </div>
</body>
